body {
    background-color: whitesmoke;
    font-family:'Segoe UI', sans-serif;
}

.banner-container {
    display: flex;
    justify-content: center;
    background-color: rgb(69, 122, 203);
    font-size: 42px;
    padding: 10px 10px 10px 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#selfie {
    border-radius: 100%;
    border: solid;
    box-shadow: 0px 0px 20px black;
}

#dang-logo {
    height: 280px;
    width: 280px;
}

#about-me {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.about-me {
    padding: 60px 0px 0px 50px;
}

.codecademy {
    text-decoration: none;
    color: blue;
}

.wilmu {
    text-decoration: none;
    color: green;
}

#professional-history {
    text-align: center;
    font-size: 42px;
    padding: 10px 10px 10px 10px;
}

.resume {
    display: flex;
    background-color: rgb(69, 122, 203);
    padding: 0px 5px 0px 5px;
}

.education {
    font-size: 42px;
    text-align: center;
}

.diploma {
    text-align: center;
}

.resume-pdf {
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

.resume-pdf a {
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 0px 3px black;
    background-color: rgb(69, 122, 203);
    border-radius: 5px;
    color: black;
}
.resume-pdf a:hover {
    color: yellow;
    cursor: pointer;
}

.resume-pdf a:active {
    margin-top: 5px;
    color: black;
    box-shadow: 0px 0px;
}

#footer {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    padding: 40px 0px 5px 0px;
    font-size: 11px;
    font-weight: bold;
}

@media only screen and (max-width: 480px) and (resolution: 150dpi) {
    #dang-logo {
        display: none;
    }
    #selfie {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
}
