body {
    background-color: whitesmoke;
    font-family:'Segoe UI', sans-serif;
}

/* Banner section*/
.banner-container {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    background-color: rgb(69, 122, 203);
    font-size: 32px;
}
/* End of Banner section */


/* selfie image*/
.selfie {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.selfie img {
    border: solid black;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(69, 122, 203);
}
/* End of selfie image */


/* About me section */
#dang-logo {
    height: 280px;
    width: 280px;
    /*background-color: blue;*/
    margin-top: 2%;
}

#intro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
}

.intro-me {
    padding: 60px 0px 0px 50px;
    width: 1300px;
}

.codecademy {
    text-decoration: none;
    color: darkblue;
}

.wilmu {
    text-decoration: none;
    color: green;
}
/* End of about me section */


/* hobbies section */
#games {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    font-size: 52px;
    margin-top: 15%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    text-align: center;
}

.row {
    flex-direction: row;
}

.vy {
    border: solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.gardening {
    border: solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px green;
}

.web-development {
    border: solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 15px skyblue;
}
/* End of hobbies section */


/* Social media section*/
#social-media {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    font-size: 52px;
    margin-top: 10%;
}

.clearancejobs {
    border: solid black;
    border-radius: 100%;
}

#codecademy {
    border-radius: 10px;
}

.github {
    border: solid black;
    border-radius: 100%;
}
/* End of social media section*/


/* Anchor to the top of the page section*/
#anchor {
    margin-top: 5%;
    display: block;
    text-align: center;
}

#anchor a {
    text-decoration: none;
}
/* End of anchor section */


/* Footer section */
#footer {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    font-size: 11px;
    font-weight: bold;
}
/* End of footer section */



@media only screen and (min-resolution: 100dpi) and (max-resolution: 1000dpi) {
 
}

@media only screen and (min-width: 480px) and (resolution: 150dpi) {
    #dang-logo {
        display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
