body {
    background-color: white;
}

.banner-container {
    display: flex;
    justify-content: center;
    background-color: tan;
    font-family:'Segoe UI', sans-serif;
    font-size: 42px;
    padding: 10px 10px 10px 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 25px;
}

#selfie {
    border-radius: 100%;
    border: solid;
    box-shadow: 0px 0px 20px black;
}

#dang-logo {
    height: 280px;
    width: 280px;
}

#about-me {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Comic sans MS', 'Segeo UI', sans-serif;
    font-size: 20px;
}